[Desktop Entry]
Name=Retrograde
Comment=Pixel planets and a sunset stripe
X-KDE-PluginInfo-Author=alexsson
X-KDE-PluginInfo-Name=Retrograde
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
